@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

body {
    background-color: #000000;
}

header {
    border-bottom: 1px solid #FFD700;
    height: 10vh;
    display: flex;
}

#logo {
    width: 30vw;
    height: 10vh;
}

#logo img {
    height: 8vh;
}

#display {
    width: 50vw;
}

#user {
    width: 20vw;
}

main {
    margin: 2vh 2vw;
    min-height: 80vh;
}

#notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card a {
    text-decoration: none;
}

#modal-view {
    border: 1px solid #FFD700;
    position: absolute;
    display: none;
    width: 90vw;
    padding: 10px;

}

#close-modal {
    float: right;
}

#modal {
    border: 1px solid #FFD700;
    position: absolute;
    padding: 2vh 2vw;
    display: none;
    width: 90vw;
}

#controls-note {
    display: flex;
    gap: 10px;
}